@(message: String)(implicit req: RequestHeader)

@main("NSAPI") {

    <a href="@routes.Api.stations">Stations</a><br>
    <a href="@routes.Api.advices("KBW", "ASD")">Advices</a><br>
    <a href="@routes.Api.advicesFuture("KBW", "ASD")">Advices Future</a><br>
    <a href="@routes.Api.adviceFirstPossible("KBW", "ASD")">Advices First</a><br>
    <a href="@routes.Api.search("'s-Hertogenbosch")">Search</a><br>
    <a href="@routes.Application.search">Search page</a><br>
    <a href="@routes.Api.searchNearest(52.3770998, 4.9273675)">Search Nearest</a><br>

}
